# Entornos virtuales de Python
venv/
env/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno (¡Muy importante para la seguridad!)
.env

# Dependencias de Node.js (Frontend)
node_modules/

# Archivos de bases de datos locales
*.db
*.sqlite3

# Configuración de editores y sistema operativo
.vscode/
.idea/
.DS_Store